{{>header}}

<div class="container">
  <div>
    <h2>{{plainProduct.title}}</h2>
    <p>{{plainProduct.description}}</p>
    <p>{{plainProduct.code}}</p>
    <p>{{plainProduct.price}}</p>
    <p>{{plainProduct.category}}</p>
    <button>Añadir al Carrito</button>
  </div>
</div>